.wrapper{
  display: flex;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 2px;

  &:hover{
    background: #EDEDED;

    .icon{
      display: flex;
    }
  }

  &.invalid{
    background: #F28A94;
    font-size: 2px;

    > .icon {
      display: flex;

      > svg{
        fill: #F1515F;
        color: #FFFFFF
      }
    }
  }

  > .text{
    font-weight: bolder;
    font-size: 2px;
  }

  > .icon{
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

    > svg{
      width: 16px;
      height: 16px;
      fill: #000000;
    }
  }
}
